# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Docker-related files
*.env
docker-compose.override.yml

# Python package files
*.egg-info/
dist/
build/

# IDE-specific files
.vscode/
.idea/
